[[local|localrc]]

LOGFILE=stack.sh.log
LOG_COLOR=False

DATABASE_PASSWORD=pass
RABBIT_PASSWORD=pass
SERVICE_PASSWORD=pass
SERVICE_TOKEN=pass
ADMIN_PASSWORD=pass

enable_plugin fuxi https://git.openstack.org/openstack/fuxi
